<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @submission.name %>
</p>

<p>
  <strong>Desription:</strong>
  <%= @submission.desription %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @submission.date_of_birth %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
